.myContainerRed{
    border: 4px solid red;
    width: 550px;
   // background-color: grey;
}
.myContainerBlue{
    border: 4px solid rgb(86, 32, 214);
    width: 450px;
   margin: auto;
}
.myContainerGreen{
    border: 4px solid rgb(32, 190, 93);
    width: 550px;
   padding: 44px;
}
.myContainerBlack{
    border: 4px solid rgb(6, 7, 6);
    width: 850px;
    margin: auto;

}
