
 
<!-- <h1>{{title}}</h1> -->
 
<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
 
  <!-- <div formArrayName="employees">
 
    <div *ngFor="let employee of employees().controls; let empIndex=index">
 
      <div [formGroupName]="empIndex" style="border: 1px solid blue; padding: 10px; width: 100%; margin: 5px;">
                
        <div formArrayName="items">
 
          <ng-container *ngFor="let item of employeeSkills(empIndex).controls; let itemIndex=index"> 
 
            <ng-container [formGroupName]="itemIndex">
              {{empIndex}},{{itemIndex}}
             
              <input type="text" formControlName="item">             
 
              <button class="btn btn-danger" (click)="removeEmployeeSkill(empIndex,itemIndex)">X</button>
 
            </ng-container>
 
          </ng-container>
          <button class="btn btn-warning" (click)="removeRow(empIndex)">RemoveRow={{empIndex}}</button>

        </div>
 
      </div>
 
    </div>
  </div>
  <p>
    <button type="button" class="btn btn-secondary" (click)="addEmployee()">Add Row</button>
  </p>
  <ng-container>
    <button type="button" class="btn btn-warning" (click)="addEmployeeSkillMy()">Add Col</button>
   </ng-container> 
  <p>
    <button type="submit">Submit</button>
  </p> -->
  <table class="table table-bordered">
    <thead>
     
    </thead>
    <tbody formArrayName="table">
      <tr  *ngFor="let row of table().controls; let rowIndex=index">
        <ng-container  [formGroupName]="rowIndex">
          <ng-container formArrayName="items">
            <ng-container *ngFor="let item of rowsItems(rowIndex).controls; let itemIndex=index">
              <ng-container [formGroupName]="itemIndex">
                
                <td>
                  <input type="text" formControlName="item"> 
                
                  <ng-container *ngIf="rowIndex==0">
                    <button class="btn btn-danger" (click)="removeRowItem(itemIndex)">X</button>
                    <button class="btn btn-warning" (click)="insertRowItem(itemIndex)">+</button>
                  </ng-container> 
                </td>
               
              </ng-container>
            </ng-container>
            <button class="btn btn-warning" (click)="removeRow(empIndex)">RemoveRow={{rowIndex}}</button>

          </ng-container>

        </ng-container>
        
      
      </tr>
     
     
    </tbody>
  </table>
  <button type="button" class="btn btn-secondary" (click)="addRow()">Add Row</button>
  <!-- <button type="button" class="btn btn-warning" (click)="addEmployeeSkillMy()">Add Col</button> -->

</form>
 
 

 
{{this.empForm.value | json}}