
 
<h1>{{title}}</h1>
 
<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
 
  <div formArrayName="employees">
 
    <div *ngFor="let employee of employees().controls; let empIndex=index">
 
      <div [formGroupName]="empIndex" style="border: 1px solid blue; padding: 10px; width: 100%; margin: 5px;">
        {{empIndex}}
        <!-- First Name :
        <input type="text" formControlName="firstName">
        Last Name:
        <input type="text" formControlName="lastName"> -->
 
        <button class="btn btn-danger" (click)="removeEmployee(empIndex)">Remove</button>
 
 
        <div formArrayName="skills">
 
          <ng-container *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index">
 
 
 
            <ng-container [formGroupName]="skillIndex">
              {{skillIndex}}
              Skill :
              <input type="text" formControlName="skill">             
 
              <button (click)="removeEmployeeSkill(empIndex,skillIndex)">Remove</button>
 
            </ng-container>
 
          </ng-container>
          <ng-container>
          <button type="button" class="btn btn-warning" (click)="addEmployeeSkill(empIndex)">Add Skill</button>
         </ng-container> 
        </div>
 
 
      </div>
 
    </div>
  </div>
  <p>
    <button type="button" (click)="addEmployee()">Add Employee</button>
  </p>
  <ng-container>
    <button type="button" class="btn btn-warning" (click)="addEmployeeSkillMy()">Add Col</button>
   </ng-container> 
  <p>
    <button type="submit">Submit</button>
  </p>
 
</form>
 
 

 
{{this.empForm.value | json}}