
<h4>Student Ssc result</h4>
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">student</th>
        <th scope="col">Maths</th>
        <th scope="col">Science</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Akash</td>
        <td>90%</td>
        <td>95%</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ram</td>
        <td>78%</td>
        <td>88%</td>
      </tr>
     
    </tbody>
  </table>