<nav class="navbar navbar-expand-lg navbar-light  justify-content-center" style="background-color: #e3f2fd; position: fixed;"    >
    <div class="d-flex justify-content-center">
    <div class="container-fluid ">
      <a class="navbar-brand" routerLink="">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/student">Student</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/home2">home2</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/transferItemsBetList">TransferItemsBetList</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/home4">home4</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/finalForm">finalForm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/employee">Emplyoee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/sharedComp">SharedCompo</a>
          </li>     
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/NestedFormArray">NestedFormArray</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/mainForm">ReUsableFormExample</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/profileForm">ProfileForm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/studentInfo">student info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/dynamicTable">DynamicTable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/dragAndDropAgMaterial">dragAndDropAgMaterial</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link "routerLinkActive="active" aria-current="page" routerLink="/subject1">subject1</a>
          </li>         
        </ul>   
      </div>
    </div>
    </div>
  </nav>


  