
<h4>Student HSC result</h4>
<table class="table table-striped">
    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">student</th>
        <th scope="col">Maths</th>
        <th scope="col">Science</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Vaibhav</td>
        <td>90%</td>
        <td>95%</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Avi</td>
        <td>98%</td>
        <td>78%</td>
      </tr>
     
    </tbody>
  </table>