input.ng-touched.ng-invalid{
    border: 2px solid red;
}  
.mywarningRed{
    color: red;
}
.mywarningBlue{
    color: rgb(48, 34, 241);
}
.container{
    background-color: rgb(213, 216, 203);
    
    width:100 vw ;
    border: 3px solid black;
    
    
}